{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>

<div class="row">
  <div class="col s6">
    <div>
      <div>

        <h2>{{ recipe.title }}</h2>

        <p>Difficulty : {{ recipe.difficulty }}</p>

        <p>Portions : {{ recipe.portion }}</p>

        <p>Time : {{ recipe.time }}</p>

        <p> Description: {{ recipe.description }}</p>

        {% for ingredient in recipe.ingredients %}
       <p>Ingredient: {{ ingredient }}</p>
        {% endfor %}

        {% for step in recipe.method %}
        <p>{{ step }}</p>
         {% endfor %}
      </div>
      <div>

      </div>
    </div>
  </div>

  {% endblock %}