{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">

        <h2>{{ recipe.title }}</h2>

        <p>Difficulty : {{ recipe.difficulty }}</p>

        <p>Portions : {{ recipe.portion }}</p>

        <p>Time : {{ recipe.time }}</p>

        <p> Description: {{ recipe.description }}</p>

        {% for ingredient in recipe.ingredients %}
       <p>Ingredient: {{ ingredient }}</p>
        {% endfor %}

        {% for step in recipe.method %}
        <p>{{ step }}</p>
         {% endfor %}

        <form action="" method="POST">
          {% csrf_token %}
         
          <input type="hidden" value="{{recipe.title}}" name="title">
          <input type="hidden" value="{{recipe.difficulty}}" name="difficulty">
          <input type="hidden" value="{{recipe.portion}}" name="portion">
          <input type="hidden" value="{{recipe.time}}" name="time">
          <input type="hidden" value="{{recipe.description}}" name="description">
          <input type="hidden" value="{{recipe.ingredients}}" name="ingredients">
          <input type="hidden" value="{{recipe.method}}" name="instructions">
          <input type="submit" value="add recipe" class="btn" formaction="{% url 'add_recipes' %}">
        </form>

         
      </div>
      <div>

      </div>
    </div>
  </div>

  {% endblock %}